body {
    font-family: Arial, sans-serif;
    background-image: url(../img/27475-blancos.jpg);
    margin: 0;
    padding: 0;
    padding: 10vh;
    height: 100vh;
    }


.container {
    padding: 10px;
    width: 150vh;
    height: 80vh;
}

img {
    width: 50vh;
    height: 70vh;
      }

