body{
    background-image: url(../img/27475-blancos.jpg);
}
.logo{
    width: 5vh;
    height: 5vh;
}

.form {
    height: 110vh;
    background-image: url(../img/27475-blancos.jpg);
   
}
.B {
        width: 45%;
        height: 90vh;
        padding: 10vh;
        box-shadow: 0px -6px 15px 0px black;
        border: 8px solid black;
        padding: 2%;
        border-radius: 5%;
            }




/*footer*/
.logo1 {
    width: 20vh;
    height: 20vh;
}
.redes {
    margin-right: 5px;
}
.col1 {
    padding: 4vh;
}
.card-body{
    text-align: center;
}
